<div class="card" (click)="toggleUnits()" [ngStyle]="setStyles()">
  <div class="row card-header" [class.invisible]="!dataReceived">
    <div class="col-sm-8" id="location-wrapper">
      <p><i id="location-icon" class="fa fa-map-marker" aria-hidden="true"></i>{{ currentLocation }}</p>
    </div>
    <div class="col-sm-4 text-sm-right">
      <h1>{{ weatherData.temp | tempUnit: currentTempUnit | number: '.0-0' }}&deg;</h1>
    </div>
  </div>
  <div class="card-block">
      <div id="indicator" [hidden]="dataReceived">
          <i class="fa fa-circle-o-notch fa-spin fa-4x fa-fw"></i>
          <span class="sr-only">Loading...</span>
      </div>
    <canvas id="icon" [hidden]="!dataReceived"></canvas>
    <p>{{ weatherData.summary }}</p>
  </div>
  <div class="card-footer" [class.invisible]="!dataReceived">
    <div class="row" id="detail-row">
        <div class="col-sm-5">
          <p>Wind</p>
          <p class="unit-label">{{ weatherData.wind | speedUnit: currentSpeedUnit }}</p>
        </div>
        <div class="col-sm-5 offset-sm-2">
          <p>Humadity</p>
          <p>{{ weatherData.humidity | percent }}</p>
        </div>
    </div>
    <div class="row" id="helper-row">
      <div class="col-sm-12">
          <small class="text-muted">click to switch between &deg;f/kph and &deg;c/mph</small>
      </div>
    </div>
  </div>
</div>